<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<title>Recycle </title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<div class="container p-2">
			<div class="row">
			  <div class="col-3" th:each="waste : ${wastes}">
				<div class="card" style="width: 18rem;">
					<img th:src="${waste.image}" class="img-fluid" >
					<div class="card-body">
					  <h5 class="card-title text-center" th:text="${waste.name}"></h5>
					 
					 <div class="button d-flex justify-content-center ">
						<a href="#" class="btn btn-primary bg-success">Add</a>
					 </div> 
					  
					</div>
				</div>
			  </div>
			  
			</div>	
		</div>

		<div class="d-flex justify-content-center m-3">
			<div>
				<table class="table m-3 p-2 table-hover" >
					<thead  class="text-white bg-success">
					  <tr>
						<th scope="col" style="width: 20rem">Name</th>
						<th scope="col" style="width: 20rem">Category</th>
						<th scope="col" style="width: 20rem">Price/Kilo</th>
						<th scope="col" style="width: 10rem"></th>
					  </tr>
					</thead>
					<tbody class="p-2 m-3">
					  <tr>
						<th scope="row"></th>
						<td></td>
						<td></td>
						<td><i class="fas fa-trash-alt"></i></td>
					  </tr>
					</tbody>
				  </table>
			</div>
		</div>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>