<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Rate Recycler</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		 <section style="padding: 30px;" class="content-center">
 
 	<div class="card mb-5 justify-content-center "  style="width: 600px;" >
	  <div class="row g-0">
	    <div class="col-md-5 justify-content-center p-2">
	      <img th:src="${recycler.image}" class="img-fluid img-thumbnail rounded-circle border-success" width="400px;"  height="400px;">
	    </div>
	    <div class="col-md-7">
	      <div class="card-body">
	        
	        <p class="card-text"><strong>First Name:</strong> <span th:text="${recycler.firstName}"></span>.</p>
	        <p class="card-text"><strong>Last Name:</strong> <span th:text="${recycler.lastName}"></span>.</p>
	      	<div class="dropdown">
							<span><strong>Qualification:</strong></span>
								<a class="btn btn-secondary dropdown-toggle" href="#"
									role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
									aria-expanded="false">Points</a>

								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="#">1</a></li>
									<li><a class="dropdown-item" href="#">2</a></li>
									<li><a class="dropdown-item" href="#">3</a></li>
									<li><a class="dropdown-item" href="#">4</a></li>
									<li><a class="dropdown-item" href="#">5</a></li>
								</ul>
								
			</div>
			<br>
			<a href="/history/purchase" class="btn btn-success" >Save</a>	
			<a href="/history/purchase" class="btn btn-success" >Return</a>				
				
	      </div>
	    </div>
	   
	    </div>
	  </div>
	</div>
 
 </section>


	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>