<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Qualify Recycler</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
	
	
	<section style="margin: 20px;">
 	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a href="#">Movements</a></li>
	    <li class="breadcrumb-item"><a href="#">Purchase History</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Qualify</li>
	  </ol>
	</nav>
 </section>
	
		<section class="d-flex justify-content-center m-4">
			<div  class="card">
				<div class="row" >
					<div class="col-md-5  p-2">
						<img th:src="${recycler.image}"
							class="img-thumbnail rounded-circle mx-2 my-2" align="middle"
							width="400px;" height="400px;">
					</div>
					<div class="col-md-7">
						<div class="card-body">

							<p class="card-text">
								<strong>First Name:</strong> <span
									th:text="${recycler.firstName}"></span>.
							</p>
							<p class="card-text">
								<strong>Last Name:</strong> <span th:text="${recycler.lastName}"></span>.
							</p>
							<p class="card-text">
								<strong>Calification:</strong> <span th:text="${recycler.calification}"></span>
							</p>
							<p class="card-text">
								<strong>Mobile Number:</strong> <span th:text="${recycler.mobileNumber}"></span>
							</p>
							<form th:action="@{/qualify/recycler/save}"
								th:object="${recycler}" method="post">
								<input type="hidden" th:field="*{id}"> <input
									type="hidden" th:field="*{FirstName}"> <input
									type="hidden" th:field="*{lastName}"> <input
									type="hidden" th:field="*{dni}"> <input type="hidden"
									th:field="*{mobileNumber}"> <input type="hidden"
									th:field="*{email}"> <input type="hidden"
									th:field="*{dateBirth}"> <input type="hidden"
									th:field="*{point}"> <input type="hidden"
									th:field="*{type}"> <input type="hidden"
									th:field="*{district}"> <input type="hidden"
									th:field="*{coupons}"> <input type="hidden"
									
									th:field="*{orders}"> <input type="hidden"
									th:field="*{address}"> <input type="hidden"
									th:field="*{calification}"> <select
									th:field="*{points}">
									<option th:each="point : ${lpoints}" th:value="${point}"
										th:text="${point}"></option>

								</select>
								<div class="d-flex justify-content-center table-responsive my-4">
									<button type="submit" class="btn btn-success" >save</button>
								</div>
							</form>


						</div>
					</div>
				</div>
			</div>

		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>