<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<title>Rewards </title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<div class="container p-3">
			<div class="d-flex justify-content-center fs-2 fw-bold">
				Your points:  <p th:text=${recycler.point}></p>
			</div>
			
			<div class="row m-2 p-1  d-flex justify-content-center">
			  <div class="col-3 m-1 p-1" th:each="coupon : ${coupons}">
				  <div class="d-flex justify-content-center p-2">
					<img th:src="${coupon.image}" class="img-fluid img-thumbnail" alt="">
				  </div>
				  <h5 class="d-flex justify-content-center m-3" th:text="${coupon.nameCoupon}"></h5>
				  <div class="d-flex justify-content-center m-3">
					<a th:href="@{'/rewards/' + ${coupon.id} + '/view'}" class="btn btn-success d-block">view</a>
				  </div>
				 </div>
			</div>
			
		</div>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>