<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Recycler Garbage</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<p>Id:<span th:text="${recycler.id}"></span>,
	 	Name:<span th:text="${recycler.firstName}"></span>	</p>
	 <a href="#" class="btn btn-primary"><i class="fas fa-plus-square"></i>Aceppt</a>
	 <a th:href="@{'/request'}" class="btn btn-primary"><i class="fas fa-plus-square"></i>Deny</a>
	 
	 
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>