<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/solid.min.css}" rel="stylesheet">
	<link rel="shortcut icon" href="/images/logo.png">
	<title th:replace="${title}">Greencode</title>
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light"
			style="background-color: #4EB918">
			<div class="container-fluid">
				<a href="#" class="navbar-brand"> <img
					class="d-inline-block align-middle" src="/images/logo.png"
					width="45" height="45"> <strong>Greencode</strong>
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					
					
					<form class="d-flex p-1" style="width: 600px" th:action="@{/search/wastes}" th:object="${wasteSearch}" method="get"
						sec:authorize="hasRole('ROLE_RECYCLER')">
						<input class="form-control" type="search" placeholder="What do you want to recycle?" th:field="*{name}" aria-label="Search">
						<button type="button" class="btn btn-success m-2">
							<i class="fas fa-search"></i>
						</button>
					</form>
					
					
					<div>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link active"
								aria-current="page" href="/">Home</a></li>
							<li sec:authorize="hasRole('ROLE_GATHERER')" class="nav-item"><a class="nav-link active" href="/request">Requests</a>
							</li>
							<li sec:authorize="hasRole('ROLE_RECYCLER')" class="nav-item">
								<a class="nav-link active" href="/recycle">Recycle</a>
							</li>
							<li sec:authorize="isAuthenticated()" class="nav-item dropdown"><a
								class="nav-link active dropdown-toggle" href="#"
								id="navbarDropdown" role="button" data-bs-toggle="dropdown"
								aria-expanded="false"> Movements History </a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li sec:authorize="hasRole('ROLE_RECYCLER')"><a class="dropdown-item" href="/history/sale">Sale History</a></li>
									<li sec:authorize="hasRole('ROLE_GATHERER')"><a class="dropdown-item" href="/history/purchase">Purchase History</a></li>
									<li sec:authorize="hasRole('ROLE_GATHERER')"><a class="dropdown-item" href="#">Requests History</a></li>
								</ul>
							</li>
							
							<li sec:authorize="hasRole('ROLE_GATHERER')" class="nav-item"><a class="nav-link active" href="/recharge"
								tabindex="-1">Recharge</a></li>
								
							<li sec:authorize="hasRole('ROLE_RECYCLER')" class="nav-item"><a class="nav-link active" href="/rewards"
								tabindex="-1" aria-disabled="true">Rewards</a></li>
								
							<li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link active" th:href="@{/login}" 
								tabindex="-1" aria-disabled="true">Sign In</a></li>
								
							<li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link active" href="#"
								tabindex="-1" aria-disabled="true">Log In</a></li>
								
							
							<li sec:authorize="isAuthenticated()" class="nav-item dropdown" >
								<a  class="nav-link dropdown-toggle btn btn-outline-success" href="#"
								id="navbarDropdown" role="button" data-bs-toggle="dropdown"
								aria-expanded="false" ><i class="fas fa-user-circle"></i> <span class ="text-white"sec:authentication="name">Username</span></a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="#">Profile</a></li>
									<li><a class="dropdown-item" th:href="@{/logout}">Log out</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>


	<footer th:fragment="footer" class="container-fluid" style="background-color: #707070">
		<div class="row">
			<div class="col-4 p-2">
				<a href="#" class="navbar-brand d-flex justify-content-center"> <img class="d-inline-block" src="/images/logo.png" width="30"
					height="30"> <p class="fw-bold text-white text-center">Greencode</p>
				</a>
				<p class="text-white fw-bold text-break p-2">Be part of Greencode, together with us you can contribute to the environment to live in a place free of pollution and for the well-being of future generations</p>
			</div>
			<div class="col-4 p-3">
				<p class="fw-bold text-white fw-bold text-center">Bussiness</p>
				<ul class="justify-content-center">
					<li class="d-flex justify-content-center text-white"><p class="fw-bold">About us</p></li>
					<li class="d-flex justify-content-center text-white"><p class="fw-bold">Our team</p></li>
				</ul>
			</div>
			<div class="col-4 p-3">
				<p class="text-white text-center">
					<strong>Contact Us</strong>
				</p>
				<div class="row d-flex justify-content-center">
					<div class="col-4 d-flex align-items-center d-flex justify-content-end text-white"><i class="fas fa-envelope d-flex"></i></div>
					<div class="col-8"><p class="fw-bold text-white">greencode@hotmail.com</p> </div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-4 d-flex align-items-center d-flex justify-content-end text-white"><i class="fas fa-phone-volume d-flex"></i></div>
					<div class="col-8"><p class="fw-bold text-white">928996325</p> </div>
				</div>
				
			</div>
		</div>
		<hr>
		<p class="text-white d-flex justify-content-center p-3"><strong>&copy; All rights reserved by Greencode 2021</strong></p>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</footer>

	
</body>
</html>