<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
	<title>Greencode </title>
</head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<main>
		<div class="container p-3 d-block">
			<div class="row">
				<div class="col-4">
					<img src="images/app.jpg" alt="">
				</div>
				<div class="col-3 d-flex align-items-center">
					<ul class="p-3 ">
						<div class="li m-3">Contribute to caring for the environment</div>
						<div class="li m-3">Generate profit through recycling and obtain various benefits</div>
						<div class="li m-3">Create a big change in recycling culture</div>
					</ul>
				</div>

				<div class="col-5 d-flex align-items-center justify-content-center">
					<div class="p-3 fw-bold" id="TextIntro">
						<p class="fs-1 text-success text-center">GREENCODE</p>
						<p class="text-center">Recycle now!</p>
						<p class="text-center">Company saving the planet with you</p>
						<div class="d-flex justify-content-center">
							<div>
								<button type="button" class="btn btn-success m-3 d-block" >
								<a class="text-white text-decoration-none" th:href="@{/login}">Sign In</a>
								</button>
								<button type="button" class="btn btn-success m-3 d-block">Log
									In</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>