<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Sale History</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main class="d-flex justify-content-center align-items-center"
		style="height: 550px">


		<div class="row" style="margin: 20px">
			<div th:each="order : ${orders}" class="col-sm-1">
				<div class="card" style="width: 18rem;">
					
					<div class="card-body">

						<h5 class="card-title-success"
							th:text="${order.gatherer.firstName + ' ' + order.gatherer.lastName }">
						</h5>

						<p class="card-text">
							Order # : <span th:text="${order.id}"> </span>
						</p>
						<p class="card-text">
							Date : <span th:text="${order.date}"> </span>
						</p>
						<p class="card-text">
							Status : <span th:text="${order.status}"> </span>
						</p>
						<a th:href="@{'/history/sale/' + ${order.id}+'/view'}"
							class="btn btn-success">More details</a> <a
							th:href="@{'/qualify/gatherer/' + ${order.id}}"
							class="btn btn-secondary">Qualify</a>
					</div>
				</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>