<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Sale History</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>

		<div class="d-flex justify-content-center table-responsive">
			<div>
				<table class="table m-3 p-2 table-hover">
					<thead style="background-color: #4EB918">
						<tr class="text-center">
							<th scope="col" >Date</th>
							<th scope="col" >Gatherer</th>
							<th scope="col" style="width: 10rem"></th>
							<th scope="col" style="width: 10rem"></th>
						</tr>
					</thead>
					<tbody  th:each="gathererorder : ${gathererorders}">
						<tr>
							<th th:text="${gathererorder.order.date}"></th>
							<td th:text="${gathererorder.gatherer.firstName}"></td>
							<td><a th:href="@{'/history/sale/' + ${gathererorder.id}+'/view'}" class="btn btn-success" >More details</a></td>
							<td><a href="#" class="btn btn-success" >Qualify</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>