<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Recharge History Details</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>


		<div class="container p-3">
			<div class="d-flex justify-content-center">
				<div class="row m-2 p-1  d-flex justify-content-center">
					<div class="d-flex justify-content-center p-2" style="max-width: 740px;">
						<form th:action="@{/recharge/history}" method="post" th:object="${transaction}">
							<div class="row m-2 p-1  d-flex justify-content-center">
							<strong>Recharge online</strong>
						</div>
						</div>
						<div>
				<table class="table m-3 p-2 table-hover" >
					<thead  class="text-white bg-success d-flex justify-content-center p-2">
					  <tr>
						<th scope="col" style="width: 30rem">Available Balance: <td th:text="${transaction.amount}"></td></th>	
				  </table>
			</div>
						<div>
						
				<table class="table m-3 p-2 table-hover" >
					<thead  class="text-white bg-success">
					  <tr class="text center">
						<th scope="col" style="width: 20rem">Date</th>
						<th scope="col" style="width: 20rem">Method</th>
						<th scope="col" style="width: 20rem">Amount</th>
								<th scope="col" style="width: 10rem">Movement</th>
						<th scope="col" style="width: 10rem"></th>
					  </tr>
					  <tbody  th:each="transaction : ${transaction}">
						<tr>
							<th>02/07/2021</th>
							<td>Online</td>
						<td th:text="${transaction.amount}"></td>
						<td> Recharge</td>
						</tr>
					</tbody>
					</thead>
					
				</table>
			</div>
						</form>
					</div>
				</div>

			</div>
		</div>

	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>