<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Purchase History Details</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
<section style="margin: 20px;">
 	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a href="#">Movements</a></li>
	    <li class="breadcrumb-item"><a href="#">Purchase History</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Details</li>
	  </ol>
	</nav>
 </section>
 


		<section style="margin: 25px;">
			<div class="row" >
				<div th:each="listWasteOrder : ${listWasteOrders}" class="col-sm-3" style="padding: 5px;">
					<div class="card" style="width: 18rem;">
						<div class="card-header">
						<h5 class="card-title" align="center">Category: <span th:text="${listWasteOrder.waste.category.name}"></span></h5>
						</div>
						<img th:src="${listWasteOrder.waste.image}" >
						<div class="card-body">
							
							<p class="card-text"><strong>Waste: </strong><span th:text="${listWasteOrder.waste.name}"></span><br>
							<strong>Price/Kilo: </strong><span th:text="${listWasteOrder.waste.category.priceKilo}"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		





	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>