<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Purchase History Details</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>

		<div class="d-flex justify-content-center table-responsive">
			<div>
				<table class="table m-3 p-2 table-hover">
					<thead style="background-color: #4EB918">
						<tr class="text-center">
							<th scope="col" >Waste</th>
							<th scope="col" >Price/Kilo</th>
							<th scope="col">Weight</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th th:text="${order.recycler.wastes.name}"></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>